:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
  }

.post-wrapper {
  display: flex;
  height: 100%;
}

$content-width: 50%;

.content {
  margin: 0 auto;
  width: $content-width;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 20px;
  overflow-y: auto;
  position: relative;
}

.left-block, .right-block {
  width: calc((100% - $content-width) / 2);
  background-color: rgba(255, 255, 255, 0.5);
}

h3 {
  margin: 12px 0 8px 0;
}

img {
  border-radius: 10px;
}

.txt-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  position: relative;
  width: 80%;
  margin-top: 1rem;
}

.carousel-inner, img {
  width: 100%;
}

.btn-carousel {
  font-size: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 12;
  cursor: pointer;
  color: white;
}

.btn-carousel:hover {
  color: pink;
  transition-duration: 0.1s;
}

.next {
  right: 10px;
}

.close-btn {
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
  transition-duration: 0.1s;
}

// scrollbar
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}